body {
	margin: 0;
	font-family: var(--font-stack);
	font-size: var(--text);
	line-height: var(--line-height);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	max-width: 100%;
	overflow-x: hidden;

	background-color: var(--bg);
 	color: var(--color);
	transition: background-color 0.3s;

	&.panel-opened{
		overflow-y: hidden;
	}
}


*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

a {
	/* color: currentColor; */
	color: var(--color-primary);
	text-decoration: none;
}

h1{
	font-size: var(--title);
	line-height: var(--title-height);
	font-weight: 400;
	margin-bottom: calc(var(--title) * var(--title-height));

	/* font-size: var(--text);
	line-height: var(--text-height);
	margin-bottom: calc(var(--text) * var(--title-height)) */
}

h2, h3 {
	font-size: var(--text-small);
	font-weight: 400;
	margin-bottom: calc(var(--text-small) * var(--text-height))
}

p {
	font-size: var(--text);
	margin-bottom: calc(var(--text) * var(--text-height))
}

h2.title-h1, h3.title-h1{
	font-size: var(--text);
	margin-bottom: 0;
}

.text-small{
	font-size: var(--text-small);
}




/* fade transitions */

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.nuxt-content{
	a {
		line-height: inherit;
		border-bottom: 1px solid var(--color-alt);
	}
	a:hover{
		color:  var(--color-alt);
		/* border-color: var(--color) */
	}
}