body {
	margin: 0;
	font-family: var(--font-stack);
	font-size: var(--font-size);
	line-height: var(--line-height);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	max-width: 100%;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

h1{
	font-size: var(--font-size);
	font-weight: 400;
	margin-bottom: calc(var(--font-size) * var(--line-height))
}

h2, h3, p {
	font-size: var(--font-size-small);
	font-weight: 400;
	margin-bottom: calc(var(--font-size-small) * var(--line-height))
}

h2.title-h1, h3.title-h1{
	font-size: var(--font-size);
	font-weight: 400;
	margin-bottom: 0;
}

.text-small{
	font-size: var(--font-size-small);
	font-weight: 400;
}
