:root {


	--font-stack: 'Inter', 'Helvetica Neue', Arial, sans-serif;
	--font-size: 21px;
	--font-size-small: 16px;
	--line-height: 1.4;

	/* new */
	--title: 28px;
	--title-height: 1.2;
	--text: 21px;
	--text-height: 1.4;

	--text-small:16px;
	--text-mini:14px;

	--app-margin: 48px;
	--app-margin-small: 24px;
	--app-margin-mini: 16px;




	/* color-mode */
	--color: #111111;
	--color-rgb: 17,17,17; /*#111111 */

	--color-alt: #aaa;

	--bg: #ffffff;
	--bg-rgb: 255,255,255; /*#ffffff; */

	--border-color: #dddddd;
}

.dark-mode {
	--color: #ebf4f1;
	--color-rgb: 235,244,241;/*#ebf4f1 */

	--color-alt: #666666;

	--bg: #222222;
	--bg-rgb: 34,34,34; /*#222222; */

	--border-color: #333333;
}



@media screen and (max-width: 768px) {
	:root {
    	--app-margin: var(--app-margin-small);
		--font-size: 19px;
		--font-size-small: 15px;

		--title: 21px;

  	}
}

@media screen and (max-width: 480px) {
	:root {
    	--app-margin: var(--app-margin-mini);
		--font-size: 18px;
		--font-size-small: 14px;
  	}
}