@keyframes fullSlideUpAndFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fullSlideLeftAndFadeIn {
  /* better animation testing */
  0% {
    transform-origin: bottom right;
    scale: 0.95;
    opacity: 0;
    transform: translateX(30%);
  }

  50% {
    scale: 1;

    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fullSlideRightAndFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fullSlideDownAndFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fullSlideUpAndFadeOut {
  0% {
    transform: translateY(0);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes fullSlideLeftAndFadeOut {
  0% {
    transform: translateX(0);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes fullSlideRightAndFadeOut {
  0% {
    transform: translateX(0);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fullSlideDownAndFadeOut {
  0% {
    transform: translateY(0);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slideUpAndFadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFadeIn {
  from {
    opacity: 0;
    transform: translateX(8px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightAndFadeIn {
  from {
    opacity: 0;
    transform: translateX(-8px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpAndFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(8px);
  }
}

@keyframes slideLeftAndFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(8px);
  }
}

@keyframes slideRightAndFadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(-8px);
  }
}

@keyframes slideDownAndFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
